:root {
    --wordle-bg-color: #121213;
    --wordle-incorrect: #3a3a3c;
    --wordle-correct-wrong-position: #b59f3b;
    --wordle-correct: #538d4e;
    --wordle-unchosen: #818384;
    --wordle-text-color: #ffffff;

    --wordle-card-width: 62px;
    --wordle-card-gap: 6px;
    --wordle-card-font-size: 2rem;
    --wordle-keyboard-font-size: 1rem;

    --font-play-area: Arial, serif;
    --font-weight-play-area: bold;
    --font-weight-keyboard: bold;
}