@import "GlobalVariables.css";

html {
    margin: 0;
    padding: 0;
}

:root {
    --header-title-width: 70%;
    --header-flank-width: calc((100% - var(--header-title-width))/2);
}

h1 {
    margin: 0;
}

.container {
    color: var(--wordle-text-color);
    display: flex;
    align-items: center;
    border-style: solid;
    border-color: var(--wordle-incorrect);
    border-width: 0 0 1px 0;
    margin: 0 0 calc(4rem + 2px) 0;
    padding: 0.75rem 0;

}

#header-hamburger {
    width: var(--header-flank-width);
    text-align: left;
}

#header-title {
    font-family: 'Montagu Slab', serif;
    width: var(--header-title-width);
    text-align: center;

}

#header-icons {
    display: flex;
    width: var(--header-flank-width);
    text-align: right;
    color: white;
    justify-content: right;
    gap: 10px;
}

.right-icon {
    margin-right: 1rem;
}
